body {
  font-family: "Shippori Mincho B1", serif;
  /* preferably  ParaType-Revival - 400, but you have to pay to download this*/
  font-size: smaller;
}

.container {
  max-width: 650px;
}
h1 {
  font-size: 32px;
  font-weight: normal;
  letter-spacing: 5px;
  text-align: center;
}
.nav-item {
  background-color: rgb(213, 219, 219);
  margin-bottom: 5px;
  width: 100%;
}
.nav-link {
  color: black;
  font-size: larger;
}
img {
  border-radius: 5px;
  display: block;
  margin: 0 auto;
  padding: 5px 0 10px;
}
h3 {
  font-size: 22px;
  font-weight: normal;
}
div {
  margin: 0 auto;
  max-width: 650px;
}
h3 {
  font-weight: normal;
  text-align: center;
    margin-bottom: 15px;
  }

h4 {
  font-size: 20px
}
.github-link {
  background-color: rgb(213, 219, 219);
  padding: 5px;
}
.forget-me-nots {
  padding: 0;
}

.art-headings {
  text-align:center;
  margin-bottom:15px;
}


.delphinium {

  width: 400px; 
}
